@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* colors */
  --color-primary-blue: #165686;
  --color-secondary-blue: #2CBEEE;
  --color-accent-yellow: "#F9CC33";
  --color-dark: "#262C15";
  --color-light: "#DFF2F7";

  /* Fonts */
  --font-inter: var(--font-inter);
  --font-nunito: var(--font-nunito);
}

body {
  background: var(--background);
  color: var(--foreground);
}

.font-inter {
  font-family: var(--font-inter), sans-serif;
}

.font-nunito {
  font-family: var(--font-nunito), sans-serif;
}